#pictureGamble{
    position: absolute; 
    background-size: cover;
    width: 100%;
    height: 100%;
}

.gamble-page {
    width: 100%;
    height: 100%;
    position: fixed;
    left:0;
    right: 0;
    top:0;
    bottom: 0;
    margin: auto; 
    
}
body{
    width: 100%;
    height: 100%;
    position: absolute; 
    background-color: black;
}
.history-title{
    position: absolute;
    color: white;
    left: 10%;
    top: 9%;
    margin: auto;
}
.history-card{
    position: absolute;
    top: 4%;
    height: 14%;
}
.top-side{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.gamble-card-stack, .gamble-card-stack1, .gamble-card-stack2,.gamble-card-stack3, .gamble-card-gif{
    position: absolute;
    left:8%;
    width: 60%;
    height: 70%;
}
.gamble-card-stack1{
    left: 23%;
}
.gamble-card-stack2{
    left: 37%;
}
.gamble-card-stack3{
    left:52%;
}
.gamble-card-gif{
    left: 150%;
}
.gamble-box{
    position: absolute;
    top: 23%;
    left: 10%;
    margin: auto;
    padding: 3.5%;
    width: 15%;
    height: 35%; 
}
.gamble-box img{
    height: 75%;
}
.gamble-info{
    position: absolute;
    bottom: 1%;
    width: 57%;
    height: 20%;
    margin: 4%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.gamble-info-label{
    color:red;
    font-size: 20px;
    margin: 0;
    padding: 0;
}
.gamble-info-amount{
    color: white;
    font-size: 30px;
    margin: 0;
    padding: 0;
}
.gamble-column{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2px;
}
.button{
    cursor: pointer;
    outline: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.gamble-button,.info-button{
    font-size: 3vh;
    border-radius: 2vh;
    border: 0.3vh solid white;
    color:white;
    

}
#black-button{
    position: absolute;
    bottom: 58%;
    right: 13%;
    height: 11.5%;
    width: 15%;
    background-color: black;
}
#red-button{
    position: absolute;
    bottom: 39%;
    right: 13%;
    height: 11.5%;
    width: 15%;
    background-color: red;
}
.middle{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.info-button{
    height: 7%;
    width: 7%;
    right:5%;
    bottom: 14%;
    position: absolute;
    color: darkgray;
    padding: 2px;
}
#win-button{
    position: absolute;
     height: 11.5%;
    width: 15%;
    background-color: green;
     right:14%;
    bottom: 14%;
}

.modal{
    background-color: black;
    padding: 2rem;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 6;
    border-radius: 10px;
    border: 1px solid white;
    padding: 20px;
    box-shadow: 0px 0px 30px 13px rgb(0,0,0);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow-y: auto;
    max-height: 80%;
}
.x{
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border:none;
    font-size: 1.5rem;
    color:red;
    cursor: pointer;
    font-weight: bold;
}
.overlay{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    backdrop-filter: blur(4px);
    z-index: 5;
}
.hidden{
    display: none;
}
#modal h2 {
    font-weight: bold;
    margin-bottom: 1rem;
    color: red;
}
#modal p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: white;
    max-width: 400px;
}

.modal::-webkit-scrollbar {
  width: 8px;
}

.modal::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 4px;
}
